<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>OLP (PT) - Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" media="all" href="../../static/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
 	<!-- Theme style -->
  	<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css" th:href="@{/static/adminLTE/css/AdminLTE.min.css}"/>
  	
	<script type="text/javascript" src="../../static/js/jquery-1.11.1.js" th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<b>OLP</b> - PT
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">กรุณาใส่ Username/password เพี่อเข้าระบบ</p>

			<form action="../../index2.html" method="post" th:action="@{/login}">
				<div class="form-group has-feedback">
					<input type="text" name="username"  class="form-control" placeholder="Username">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" name="password" class="form-control" placeholder="Password">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<!-- empty -->
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
							In</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
	
		</div>
		<!-- /.login-box-body -->
	</div>

</body>
</html>