<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
</head>
<body>
	  <section class="content-header" layout:fragment="content-header">
      <h1>
        Dashboard
        <small>start here</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Home</li>
      </ol>
    </section>

	<section class="content" layout:fragment="content" >
	
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Reports: ระบบรายงาน</h3>
					</div>
						
					<div class="panel-body">
						<ul class="list-group menu">
							 <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a th:href="@{/reports/r01.html}">r01: พิมพ์รายชื่อกิจกรรมประจำปี</a></li>
							 <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a th:href="@{/reports/r02.html}">r02: พิมพ์ใบแจ้งหนี้ชำระค่าธรรมเนียมเลือกจากรหัสลูกค้า</a></li>
							 <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a th:href="@{/reports/r03.html}">r03: พิมพ์ใบแจ้งหนี้ชำระค่าธรรมเนียมเลือกจากหมายเลขลงทะเบียน</a></li>
							 <li class="list-group-item"><i class="fa fa-arrow-circle-right"></i> <a th:href="@{/reports/r04.html}">r04: ทะเบียนบริษัทลูกค้า</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		
		</div>
	</section>
</body>
</html>